{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Password
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    </head>
    <body>
        <section>          
            <h1>Forgot password</h1>

            <form method="POST" action="/forgotPassword">
                {{ form.csrf_token }}
                {{ render_field(form.email) }} <input type="submit" value="Send code" ><br>
                {{ render_field(form.code) }}  <input type="submit" value="Check code"><br>
                <a href="/"><input type="button" value="Cancel"></a>    
            </form>
        </section>
    </body>
</html>